body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: #f3f2f2;
    text-decoration: none;
    padding-bottom: 30px;
}

nav {
    background-color: #222;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-radius: 5px;

}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-right: 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #444;
}

nav h4 {
    margin: 0;
    color: #fff;
}

nav button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

nav button a{
    color: #ffffff;
    text-decoration: none;
}

nav button:hover {
    background-color: #3e8e41;
}

h1 {
    font-size: 32px;
    margin: 20px 0;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

label {
    margin-bottom: 10px;
}

input[type="text"] {
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;
    margin: 15px 15px 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 40px;
    width: 100%;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    font-weight: normal;
}

td:first-child {
    font-weight: bold;
}

h2 {
    font-size: 24px;
    margin-top: 40px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 20px;
    margin: 0 0 10px;
}

p {
    margin: 0;
}

span {
    font-weight: bold;
    margin-right: 5px;
}

a {
    color: #333;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}