<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
</head>
<body>
<h1>Registration</h1>
<form th:action="@{/register}" th:object="${user}" method="post">
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" th:field="*{name}" id="name" name="name" required placeholder="Enter your name">
    </div>
    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" th:field="*{username}" id="username" name="username" required placeholder="Enter your username">
    </div>
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="text" th:field="*{email}" id="email" name="email" required placeholder="Enter your email">
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" th:field="*{password}" id="password" name="password" required placeholder="Enter your password">
    </div>
    <div class="form-group">
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required placeholder="Enter your password">
    </div>
    <div class="form-group">
        <label for="phone">Phone Number:</label>
        <input type="text" th:field="*{phone}" id="phone" name="phone" required placeholder="Enter your phone number">
    </div>
    <button type="submit">Register</button>
    <br>
    <a th:href="@{/login}">Already a member? Login</a>
</form>
</body>
</html>
